<div class="footer-logo__wrapper">
    <img src="{{ url_for('static', filename="images/footer-phonotext-logo.svg")}}" alt="logo" class="footer-logo__img">
</div>
<p class="footer__authors">
    Георгий Векшин. Фоносиллабическая концепция структуры текста, 2017 — 2022.<br>
    Георгий Векшин, Анна Алферова. Phonotext 2.1. Software, 2017 — 2022.<br>
    Михаил Герцев, Павел Михневич, Ярослав Лоскот. 2017 — 2022.
</p>
<p class="footer__support-text">
    Создана при поддержке РФФИ (грант № 17-04-12022).
</p>
