{%- macro name() -%}
Базы
{%- endmacro -%}
{% extends 'base.html' %}

{% block content %}
<div class="quizlist">
{% if g.user.is_admin %}
<a href={{ url_for('quiz.quiz_page', quiz_id='new')}}> Создать новый </a><hr/>
{% endif %}
Выберите опрос<br/>
  <div id="table">
    <div class="div-form-row2 header"><span>
     Name </span><span> Browse db </span>
</div>
{% if list %}
	{% for a in list %}
		<div class="div-form-row2" >
      <a href={{ url_for('quiz.quiz_page', quiz_id=a)}}>{{ list[a].get_name() }}</a><span><a href={{ url_for('quiz.browse', quiz_id=a)}} style="padding-right: 30px">Browse</a>
      {% if g.user.is_expert %}
        <a href={{ url_for('quiz.ans_edit', quiz_id=a)}}> Провести экспертную оценку </a>
      {% endif %}</span>
    </div>

	{% endfor %}
{% endif %}
</div></div>
{% endblock %}
